[project]
	description = problem 4 for kulber on fiverr
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jldempsey9
[access "refs/for/refs/*"]
	read = group user/jldempsey9
	push = group user/jldempsey9
	label-Code-Review = -2..+2 group user/jldempsey9
	label-Verified = -1..+1 group user/jldempsey9
	rebase = group user/jldempsey9
	removeReviewer = group user/jldempsey9
	submit = group user/jldempsey9
[access "refs/heads/*"]
	read = group user/jldempsey9
	create = group user/jldempsey9
	push = +force group user/jldempsey9
	pushMerge = group user/jldempsey9
[access "refs/tags/*"]
	push = +force group user/jldempsey9
	pushTag = group user/jldempsey9
	pushSignedTag = group user/jldempsey9
